/* h1 bij list item  */

body{
  background-color: var(--color-background-one);
  color: var(--color-heading);
}

main section h1{
  font-size:x-large;
  margin-top: 5em;
  margin-left: 1em;
}


main section h2{
  font-size:large;

}
/*  search balk */
main section:nth-of-type(2) input {
  
  display: flex;
  justify-content: center;  /* Yatayda ortalar */
  align-items: center;
}

/*  details */
details {
  box-shadow: #afafaf;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  border-radius:  11px;
  height: 25%;
  margin-top: 1em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;

}

/*  details summary driehoek weghalen */
details summary {
   list-style: none;
}

/*  details summary tekst kleiner maken zoals het moet */
details summary h2{
  font-size: 0.9em;
}

/*  dropdown icon */
details summary img{
  width: 20px;
  right: 0;
  position: absolute;
  margin-right: 3em;
  margin-top: -1.9em;
}

main section:nth-of-type(2) input {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  justify-self: center;
}

main section:nth-of-type(2) input a:hover {
  background-color: #000000;
  color: black;
}

main section:nth-of-type(2) input:focus{
  border-style: solid;
  border-color: #111;
  border-width: 4em;
  
}


main section:nth-of-type(2) input a.active {
  background-color: #2196F3;
  color: rgb(0, 0, 0);
}

main section:nth-of-type(2) input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  justify-self: center;
}

@media screen and (max-width: 600px) {
  main section:nth-of-type(2) input  a, main section:nth-of-type(2) input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border-radius: 0.6em;
  }
  
  main section:nth-of-type(2) input[type=text] {
    border: 1px solid #000000;  
    
  }
}

/*drop down balk*/
main section:nth-of-type(2){
  scroll-behavior: smooth;
  height: 20em;
}

/*eerste section van smakenpagina*/
main section:nth-of-type(1){
    background-color:#375D9D;
}

/*eerste section twee fotos dat ze goed staan*/

main section:nth-of-type(1) img:nth-of-type(2){
  margin-top: -17em;
}

/*margin voor tekst beetje ruimte*/

main section:nth-of-type(2){
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/*tweede tekst beetje ruimte tussen woorden*/
main section:nth-of-type(2){
  line-height: 1.5;

}

main section:nth-of-type(2) p{
  margin-bottom: 4em;

}


/*eerte section list ijs soorten */

main section:nth-of-type(3) ul ,main section:nth-of-type(4) ul  , main section:nth-of-type(5) ul  ,main section:nth-of-type(6) ul ,main section:nth-of-type(7) ul  {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
}

main section:nth-of-type(3) ul li ,main section:nth-of-type(4) ul li , main section:nth-of-type(5) ul li ,main section:nth-of-type(6) ul li ,main section:nth-of-type(7) ul li {
    width: 130px;
    text-align: center;
    list-style-type: none;
}

main section:nth-of-type(3)  ,main section:nth-of-type(4) , main section:nth-of-type(5)  ,main section:nth-of-type(6)  ,main section:nth-of-type(7)  {
    position:relative;
}


main section:nth-of-type(3) ul a ,main section:nth-of-type(4) ul a , main section:nth-of-type(5) ul a ,main section:nth-of-type(6) ul a ,main section:nth-of-type(7) ul a {  /*p:nth-of-type(2n + 1) https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type*/
  display: inline-flex;
  align-items: center;
  margin: .5rem .75rem .5rem 0;/*ruimte tussen a (button) en volgende section*/
  width: 30;
  text-decoration: none;
  box-shadow: #afafaf;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  border-radius:  40px;
  padding: .25em 1em;
  color: #111;
  
}

/*positioneren alles beke*/
main section:nth-of-type(3) a:not(ul a) ,main section:nth-of-type(4) a:not(ul a) , main section:nth-of-type(5) a:not(ul a) ,main section:nth-of-type(6) a:not(ul a),main section:nth-of-type(7) a:not(ul a){  
 /*p:nth-of-type(2n + 1) https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-of-type*/
  border:none;
  color: #375D9D;
  text-decoration: none;
  right: 0;
  top:0;
  position: absolute;
  margin-right: 0.5em;

}


main section:nth-of-type(3) ul img ,main section:nth-of-type(4) ul img , main section:nth-of-type(5) ul img ,main section:nth-of-type(6) ul img,main section:nth-of-type(7) ul img {
  background-color: #EDF8FB;
  border-radius: 10px;
}

/*responsive*/
@media screen and (min-width: 50em) {
  main section:nth-of-type(3) ul , main section:nth-of-type(4) ul, main section:nth-of-type(5) ul, main section:nth-of-type(6) ul, main section:nth-of-type(7) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em; 
  }



}

/*code is van hier  https://www.youtube.com/watch?v=br-0i3U1VCA

hier https://codepen.io/shooft/live/LEpePbz

ik heb toegepast van allebei beetje*/



/*search input heb ik van een website gevonden 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar*/

/*drop down*/

details ul{
  width: 5em;

}

details ul li{
  text-decoration: none;
  
}

main section:nth-of-type(9)  {
  background-color: #C4E7F3;
  padding:0.2em;
  padding-bottom: 120px;

  
}

main section:nth-of-type(9)  ul{

  margin:0;
  
}


/* wij maken dolgraag ijs list puntjes weghalen*/

main section:nth-of-type(9) li {
   width: 200px;
    border: 15px;
    padding-bottom: 45px;
    margin: 0;
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 20px;
    /*gap of witdh of margin niet hier bij img*/

  
}


main section:nth-of-type(9)  li img{
  grid-column: 1 / 2;
  grid-row: 1/3;
  width: 50px;
  
}


main section:nth-of-type(9) li h2, main section:nth-of-type(9)  li p , main section:nth-of-type(9)  li a{
  grid-column: 2 / 3;
  width: 250px;
  margin: 0;
  
}

main section:nth-of-type(9) li h2{
  font-size: 1em;
}

main section:nth-of-type(9) h1{
  margin: 0.5em;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
}






.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

form {
  
  display:flex;
}

footer form input {
  width:0;
  flex-grow:1;

  appearance:none;
  
  border:none;
  background:rgb(254, 255, 254);
  
  font:inherit;
  
  padding:.9em;
  
  border-radius:0.5em 0 0 0.5em;
  margin-left: 1em;
  

}

footer form button {
  appearance:none;
  
  border:none;
  background:rgb(251, 211, 33);
  
  font:inherit;
  
  padding:.5em;
  
  border-radius:0 0.5em 0.5em 0;
  margin-right: 1.5em;
}

iframe { 
  width: 100%;

  height: 200px; 
  margin-bottom: 3em;
  margin-top: 3em;

}


@media screen and (min-width: 800px) {
  iframe  {
    height: 400px;  
}
}
/*https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/iframe

responsive 

https://www.youtube.com/watch?v=2KL-z9A56SQ
https://www.youtube.com/watch?v=br-0i3U1VCA



