main section:nth-of-type(1){

  background-color: var(--color-background-one);
  color: var(--color-text-one);

}

/* eerste fotos van section */



main section:nth-of-type(1) img{
  border-radius: 0px;
  margin: 0;
  
  
}




/* eerste section margin */

main section:nth-of-type(1) h2{
  margin-left: 0.6em;
  margin-right: 1em;
  font-size: 1.9rem;
  margin-top: 1.4em;
  
  
}

/* eerste, tweede en derde section margin */


main section:nth-of-type(1) p, main section:nth-of-type(2) p, main section:nth-of-type(3) p{
  margin-left: 1em;
  margin-right: 1em;
  
  
}



/* tweede section margin */

main section:nth-of-type(2) h2 {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.4em;
  
  
}

main section:nth-of-type(2) h1 {
  margin-left: 0.5em;
  margin-right: 1em;
  margin-bottom: -1em;
  
  
}

/* tweede fotos van section */

main section:nth-of-type(2){
  
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 4em;
  background-color: var(--color-background-two);
  color: var(--color-text-two);
  
}

main section:nth-of-type(2) img{
  
  border-radius: 2em;
  
}

/* derde section margin */

main section:nth-of-type(3) h2{
  margin-left: 0.5em;
  margin-right: 1em;
  font-size: 1.9rem;
  margin-top: 1.4em;
  
  
}


/* doemee van section */

main section:nth-of-type(3){
  border:0;


}

/* topverhalen*/



main section:nth-of-type(4){
  margin:0;
  margin-left: -1em;
  background-color: var(--color-background-four);
  color: var(--color-text-four);
}


main section:nth-of-type(4) ul {
   display:flex;
   flex-wrap:wrap;
   margin:0;
   padding: 0;
  
}

main section:nth-of-type(4) li {
    width: 250px;
    border: 15px ;
    padding: 24px;
    margin-top: 1em;
    margin-left: 0.4em;

    list-style-type:none;
    flex-basis:13em;
  /* daarmee de overgebleven ruimte verdelen met de andere kinderen op dezelfde regel */
  
  
  /* ge-neste flex */

    

  
}


main section:nth-of-type(4) li h2 {
  font-size: 1em;
}





/* topverhalen foto*/
main section:nth-of-type(4) img{
  border-radius: 10px;
  
  
}
/* tekst*/
main section:nth-of-type(4) h1{
  font-size: 22px;
  margin-left: 2em;
  margin-bottom: -1em;
}


/* wij maken dolgraag ijs*/
main section:nth-of-type(5) {
  /*background-color: #C4E7F3;*/
  padding:0.2em;
  padding-bottom: 120px;
  background-color: var(--color-background-five);
  color: var(--color-text-five);

  
}

main section:nth-of-type(5) ul{

  margin:0;
  
  
}


/* wij maken dolgraag ijs list puntjes weghalen*/

main section:nth-of-type(5) li {
   width: 200px;
    border: 15px;
    padding-bottom: 45px;
    margin: 0;
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 20px;
    /*gap of witdh of margin niet hier bij img*/

  
}



main section:nth-of-type(5) li img{
  grid-column: 1 / 2;
  grid-row: 1/3;
  width: 50px;
  
}


main section:nth-of-type(5) li h2, main section:nth-of-type(5) li p , main section:nth-of-type(5) li a{
  grid-column: 2 / 3;
  width: 250px;
  margin: 0;
  

  
}

main section:nth-of-type(5) li h2{
  font-size: 1em;
}

main section:nth-of-type(5) h1{
  margin: 0.5em;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
}
/*section 5 koe positioneren*/






/*voor eerste button vormgeven yellow maken*/

main section:nth-of-type(1) a{
  display: inline-flex;
  align-items: center;
  margin: .5rem .75rem .5rem 0;/*ruimte tussen a (button) en volgende section*/
  width: 30;
  text-decoration: none;
  box-shadow: #ffbc0e;
  background-color: #ffbc0e;
  border-radius:  40px;
  padding: .25em 1em;
  color: #111;
  margin-left: 1em;
  margin-bottom: 5em;
  padding: 10px 27px;
  
}

main section:nth-of-type(2) a{
  display: inline-flex;
  align-items: center;
  margin: .5rem .75rem .5rem 0;/*ruimte tussen a (button) en volgende section*/
  width: 30;
  text-decoration: none;
  box-shadow: #ffbc0e;
  background-color: #ffbc0e;
  border-radius:  40px;
  padding: .25em 1em;
  color: #111;
  margin-left: 1em;
  margin-bottom: 5em;
  padding: 10px 27px;
  
}

main section:nth-of-type(3) a{
  display: inline-flex;
  align-items: center;
  margin: .5rem .75rem .5rem 0;/*ruimte tussen a (button) en volgende section*/
  width: 30;
  text-decoration: none;
  box-shadow: #ffbc0e;
  background-color: #ffbc0e;
  border-radius:  40px;
  padding: .25em 1em;
  color: #111;
  margin-left: 1em;
  margin-bottom: 4em;
  padding: 10px 27px;
  
  
}


main section:nth-of-type(3){
  /*background-color: #201460;*/
  color: white;
  background-color: var(--color-background-three);
  color: var(--color-text-three);
}



ul li a:hover {

	text-decoration-color: rgb(197, 197, 231);
	text-decoration: underline;  
}


/*voor de tekst onder koe image beetje boven halen*/
footer section:nth-of-type(1) h1{
  margin-top: -5.5em;
}



/*voorbeeld mail hier heb ik hulp van Sanne gekregen*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

form {
  display:flex;
}

footer form input {
  width:0;
  flex-grow:1;

  appearance:none;
  
  border:none;
  background:rgb(254, 255, 254);
  
  font:inherit;
  
  padding:.9em;
  
  border-radius:0.5em 0 0 0.5em;
  margin-left: 1em;
  

}

footer form button {
  appearance:none;
  
  border:none;
  background:rgb(251, 211, 33);
  
  font:inherit;
  
  padding:.5em;
  
  border-radius:0 0.5em 0.5em 0;
  margin-right: 1.5em;
}


/*
dark/ light mode icons 
https://www.flaticon.com/free-icon/brightness_1687737?term=light+mode&page=1&position=11&origin=tag&related_id=1687737
*/

