/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  
}

img{
  display:block;
  width: 100%;
  


}

main section{
  margin: 0%;
  padding: 0%;
  background-color: var(--colorbody);
  color: var(--color-heading);
}

body{
  margin:0;
  background-color: var(--color-background-one);
  color: var(--color-heading);
}




/************
bij html h1 1 keer en h2 mag je gebruiken voor section*******
ul flex-wrap voor topverhalen section**/
/* CUSTOM PROPERTIES */
/*********************/
@media (prefers-color-scheme:light)  {
  :root {
    --color-text-one: #000000;
    --color-text-two: #000000;
    --color-text-three: #ffffff;
    --color-text-four: #000000;
    --color-text-five: #000000;
    --color-text-six: #ffffff;

    --color-background-one: #ffffff;
    --color-background-two: #FCFDF8;
    --color-background-three:#201460;
    --color-background-four: #ffffff;
    --color-background-five: #C4E7F3;
    --color-background-six: #2a5729;/*footer*/

    --colornav:white;
    --colora:white;
    --colorheading:white;
    --colorbody:white;

    



  
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --color-text-one: #000000;
    --color-text-two: #000000;
    --color-text-three: #000000;
    --color-text-four: #000000;
    --color-text-five: #000000;
    --color-text-six: #000000;

    --color-background-one: #5f5f5f;
    --color-background-two: #5f5f5f;
    --color-background-three:#5f5f5f;
    --color-background-four: #5f5f5f;
    --color-background-five: #5f5f5f;
    --color-background-six: #5f5f5f;/*footer*/

    --colornav:rgb(0, 0, 0);
    --colora:rgb(0, 0, 0);
    --colorheading:rgb(0, 0, 0);

    

  
  }
}

/* Darkmode 
https://stuffandnonsense.co.uk/blog/redesigning-your-product-and-website-for-dark-mode
https://www.youtube.com/watch?v=_gKEUYarehE
en de hulp van een student asistent */




header {
  /* 
  border voor hamburger manu button en nav wit maken*/
  display:flex;
  justify-content:space-between;
  align-items:center;
  
  position:sticky;
  top:0;
  /*background-color: white;*/
  
  background-color: var(--colorheading);
  color: var(--color-text-one);
  
}


/************/
/* HET MENU */
/************/
nav {

  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  
  
  translate:0% -100%;
  

  transition:translate .5s;
  /* background-color: white */
  background-color: var(--colornav);
  color: var(--color-text-one);
  

  
}

/* als menu open is */
nav.toonMenu {
  translate: 0% 0%;
  margin-top: 20px;
  
}


header nav ul{
  display: flex;
  flex-direction: column;
  height: 15em;
  
  
}

header nav{
  text-decoration: none;
  display: flex;
  justify-content: space-between;

}



nav button{
  height: 17px;
  width: 27px;
  border-radius: 15px;
  margin-right: 1em;
  margin-top: 1em;
  background-color: var(--global-color);
  color: var(--color-button-text);


}



header button img{
  max-width: 100%;
  max-height: 100%;
  filter: brightness(0%);
  border-radius: 5px;


}




header button:focus{
  border: #FFBC0E 2.5px solid;
  border-radius: 50%;
  height: 3em;
  width: 3em;

  


}

header button {
  border: none;
  outline: none;
  background: none;
  width: 3em;
  


}


/* fonts */

@font-face {
  font-family: 'ChunkRethunk';
  src: url('../fonts/chunk-rethunk.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

p , a {
  font-family: 'ProximaNova', sans-serif;
}


a{
  font-weight: bold;
}

h1 , h2  {
  
  font-family: 'ChunkRethunk', sans-serif;
}


/*responsive text  */
@media (min-width:600px){
  p, h2, h1{
    font-size: 1.25rem;
    line-height: 1.5;
  }


}

/*bron https://www.youtube.com/watch?v=2KL-z9A56SQ */


/*logo */

header nav ul {
	
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	color: #111;
}


header nav ul li{
	flex-grow: 1;
}

header nav ul li a{
	display: block;
	padding: 14px 16px;
	text-decoration: none;
  font-family: 'ChunkRethunk', sans-serif;
  color: black;

}
/*voor logo img*/

header  a img:nth-of-type(1){
  width: 10em;
  margin: 1rem .85rem .7rem 0;
  padding: 10px;

}

/*voor logo nav hamburger menu met kruisje img*/

header nav ul li:nth-of-type(1) a img{
  width: 10em;
  margin-top: 4em;
  margin-left: -1em;
  margin-bottom: 1em;
}


/*input hamburger menu search balk */
header input{
  flex-grow: 1;
  display: inline-block;
  border-color: #000000;
  padding: .9em;
  border-radius: 0.6em;
  margin-left: 1em;
  width: 300px;
  

}

/* ik heb veel van de code van Sanne gebruikt bijv Navigatie hamburger menu */

/*
het is voor button style geven border radius gebruiken
https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius
menu bar foto
https://www.flaticon.com/search?word=menu%20items*/



/*Footer*/

footer {
  /*background-color:#2A5729;*/
  background-color: var(--color-background-six);
  color: var(--color-text-six);

}

footer h1, h2{
  font-size: 1.1rem;
  margin:1em;
}

footer a{
  color: white;
  margin:1em;
  text-decoration: none;
  font-size: small;
  
}


footer ul:nth-of-type(1){
  display: flex;
  flex-direction: row;
  width: 10em;
  list-style-type: none;
  padding: 0;
  gap: 1em;
}


footer ul:nth-of-type(1) img:nth-of-type(1){
  margin-left: 1em;
  width: 43px;
  
}


footer p{
  margin:1em;
}


/*foto koe positioneren*/
footer section:nth-of-type(1) img{
  width: 10em;
  display: block;
  margin-bottom: 0em;
  
}

/*voor de tekst onder koe image beetje boven halen*/
footer section:nth-of-type(1) h1{
  margin-top: -5.5em;
}

footer section:nth-of-type(1) h2 ,footer section:nth-of-type(1) p{
  margin-top: 1em;
}

footer section:nth-of-type(1){
  position:relative;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 3em;
  
}


footer section:nth-of-type(1) img {
  position:absolute;
  left:12rem;
  top:-8rem;
  max-width:10em;
  position:relative;
  
}

footer ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  width: 20em;
}

footer section:nth-of-type(3) ul:nth-of-type(1){
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;


}

footer section:nth-of-type(3) ul:nth-of-type(1) img{
  margin-top: 1em;
  margin-left: 1em;
  width: 30px;

}

footer section:nth-of-type(3) ul:nth-of-type(1) li:nth-of-type(5) img{
  
  width: 15px;
  margin: 1em;
  filter: invert(1); /*w3school*/

}



footer section:nth-of-type(3) ul:nth-of-type(2){
  
  list-style-type: none;
  display: grid;
  gap: 1rem;
  padding: 0.2rem;
  color: #fff;
  grid-template-columns:1fr 1fr;  /*alle grids heb ik met de code van Sanne of youtube gedaan  https://www.youtube.com/watch?v=br-0i3U1VCA&t=182s*/
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin-top: 1em;

}



































/*********




ul {
  list-style-type: none;
  margin: 0.5;
  padding: 0.5;
  overflow: hidden;
  background-color: #ffffff;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #000000;





}








*******/

 




/****************/
/* JOUW STYLING *
<li><button class="navbar"></button></li>/
/****************/

/* jouw code */

/* https://www.w3schools.com/css/css3_buttons.asp dat is voor serach balk*/ 
/* https://www.w3schools.com/css/css3_buttons.asp dat is voor logo image
search button =https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/input/search
*/ 







/* wij maken dolgraag ijs*/
#dolgraag {
  /*background-color: #C4E7F3;*/
  padding:0.2em;
  padding-bottom: 120px;
  

  
}

#dolgraag ul{

  margin:0;
  
}


/* wij maken dolgraag ijs list puntjes weghalen*/

#dolgraag li {
   width: 200px;
    border: 15px;
    padding-bottom: 45px;
    margin: 0;
    list-style-type:none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 20px;
    /*gap of witdh of margin niet hier bij img*/

  
}


#dolgraag li img{
  grid-column: 1 / 2;
  grid-row: 1/3;
  width: 50px;
  
}


#dolgraag li h2, #dolgraag li p , #dolgraag li a{
  grid-column: 2 / 3;
  width: 250px;
  margin: 0;
  

  
}

#dolgraag li h2{
  font-size: 1em;
  
}

#dolgraag h1{
  margin: 0.5em;
  font-size: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
}

